@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Truculenta:opsz,wght@12..72,100..900&display=swap');


* {
  margin: 0;
  padding: 0;
}

:root {

  --cor-01: #6317EB;
  --cor-02: #5F4196;
  --cor-03: #EBE020;
  --cor-04: #173EEB;
  --cor-05: #3498db;
  --cor-06: #40486B;
  --cor-07: #2ecc71;
  --cor-08: #7CEB17;

  --font-01: Verdana, Geneva, Tahoma, sans-serif;
  --font-02: "Merriweather", sans-serif;
  --font-03: "Truculenta", sans-serif;
}

html,
body {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background-image: linear-gradient(250.9deg, var(--cor-04) 10%, var(--cor-07));

  font-family: var(--font-01);
}

header {
  position: absolute;

  width: 97%;
  height: 400px;

  top: 70px;

  padding: 10px;

  background-color: var(--cor-06);

  & .header__perfil {
    font-family: var(--font-02);
    
    padding: 5px;

  }
}

.my__name h2 {
  position: relative;

  margin-left: 25px;

  padding: 8px;

  font-size: 2.6em;

  color: #fff;
}

.my__name h2 p {
  display: inline;

  font-weight: 500;
}

.habili {

  text-align: center;

  & h1 {
    position: relative;

    color: var(--cor-03);

    font-size: 3.5em;
  }
}

.redes {
  display: flex;
  justify-content: center;

  margin: 10px 0 0 0px;

  & .redes__links {
    position: relative;
    justify-content: space-around;

    left: 60px;
  }

  & a {

    margin-left: 10px;

    text-decoration: none;

    color: black;
  }
}

a img {
  width: 30px;

}

img:hover {

  transform: scale(1.5);
}